
  <ion-header transclude>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content >

  <form [formGroup]="registerForm" (submit)="register()">

  <ion-card>

    <ion-card-header>
      <ion-card-title> Sexe  </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-radio-group formControlName="sexe" id="sexe">
    
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="male"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title> Contact  </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"  name="username" > Username </ion-label>
        <ion-input type="texte" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" > Email</ion-label>
        <ion-input type="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" > Password</ion-label>
        <ion-input type="Password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" > Confirm password</ion-label>
        <ion-input type="Password" formControlName="confirmPassword"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-button size="full" color="light" type="submit">Create account</ion-button>
  <ion-button color="light" size="full" [routerLink]="['/login']">Back to login</ion-button>

</form>

</ion-content>



