
  <ion-menu side="start" type="push" contentId="main" menuId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button fill="clear" size="full" [routerLink]="['/login']">Login</ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" size="full" [routerLink]="['/register']">Register</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>